<h2>Create New Article to Read:</h2>
<br>
<form method="POST" action="/articles">
  <label for="article_title">Title:</label><br>
  <input id="article_title" type="text" name="article[title]" /><br>
  <label for="article_author">Author:</label><br>
  <input id="article_author" type="text" name="article[author]" /><br>
  <label for="article_topic">Check Topic:</label><br>
  <% Topic.all.each do |topic| %>
  <input id="<%= topic.name %>" type="checkbox" name="topics[]" value="<%= topic.id %>">
  <% end %>
  <label for="create_new_topic">Topic not listed? Enter new topic here:</label><br>
  <input id="create_new_topic" type="text" name="article[topic]"><br>

    <!--How to turn their submission into Topic.new?-->

  <label for="article_url">Link:</label><br>
  <input id="article URL" type="text" name="article[url]" /><br>
  <input type="submit" value="Add New Article to My ReadingList">
</form>

<a class="button" href="/articles">Articles</a>
<a class="button" href="/show">Back to My ReadingList</a>