<h2>Edit Book Info:</h2>
<br>
<form action="/books/<%=@book.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="book_title">Title:</label><br>
  <input type="text" name="book[title]" value="<%= @book.title %>"><br>
  <label for="book_author">Author:</label><br>
  <input type="text" name="book[author]" value="<%= @book.author %>"><br>
  <input type="submit" value="Update Book Info">
</form>
<%# make sure lines 3 and 4 are going to the correct place %>
<br>
<br>
  <form action="/books/<%=@book.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Book">
  </form>
<br>
<a class="button" href="/books">Back to My ReadingList</a><br>
<a href="/logout">Log Out</a>