<h1>Welcome, <%= current_user.username %></h1>
<br>
<h2>Here are the books on your ReadingList:</h2>
<% @books.each do |book| %>
<ul>
  <li><a href="/books/<%=book.id%>"><%= book.title %> - <%= book.author %></a></li><br>
</ul>
<% end %>
<br>
<a href="/books/new">Add New Book</a><br>
<a href="/logout">Log Out</a>