<h2>Create New Book to Read:</h2>
<br>
<form method="POST" action="/books/show">
  <label for="book_title">Title:</label><br>
  <input type="text" name="book[title]"/><br><br>
  <label for="book_author">Author:</label><br>
  <input type="text" name="book[author]"/><br><br>
  <input type="submit" value="Add Book to My ReadingList">
</form>
<br>
<a class="button" href="/books/index">Back to My ReadingList</a><br>
<a class="button" href="/logout">Log Out</a>