<h2>Create New Book to Read:</h2>
<br>
<form method="POST" action="/books">
  <label for="book_title">Title:</label><br>
  <input id="book_title" type="text" name="book[title]"/><br><br>
  <label for="book_author">Author:</label><br>
  <input id="book_author" type="text" name="book[author]"/><br><br>
  <input type="submit" value="Add New Book to My ReadingList">
</form>
<br>
<a class="button" href="/show">Back to My ReadingList</a><br>
<a class="button" href="/show">Back to My ReadingList</a>